
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    width: 794px;
    height: 1123px; 
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 12px;
}

header, .infoclient-infodevis, .condition-total {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.logo-info, .devo-info {
    width: 45%;
    /* background-color: antiquewhite; */
}

.logo-info, .info-client{
    display: flex;
    align-items: center;
}
.logo-info {  
    margin-left: 5%;
}

h1, h2 {
    margin: 0;
    color: #000;
}

h2 {
    font-size: 30px;
    color: #2D3C54;
}

img { 
    width:40%
}
.devis-header {
    text-align: right;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.blue {
    background-color: #2D3C54;
    color: #ffffff;
}
.size_description{
    width: 50%;
}
.size_description_price{
    width: 25vh;
}
.size_price{
    width: 24vh;
}
.totals, .payment-info {
    margin-top: 20px;
}

.totals p {
    text-align: right;
    margin: 5px 0;
    font-weight: bold;
}
.container-signature{ 
    display: flex;
    justify-content: flex-end;
}
.signature{
    border: 1px solid #2D3C54;
    width: 50vh;
    padding: 10px;
}
footer {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
}